html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add new CSS rules for radio buttons */

input[type="text"] {
    display: inline-block;
    width: 80%;
}
input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
}

input[type="radio"]:checked+label {
    background-color: #efadce;
    border: 1px solid #d63384;
    color: #111;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.question {
    text-align: center;
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    display: none;
    margin: 20px auto;
}

#jsonContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

.button {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.button label,
.button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.button input[type="radio"]:checked+label {
    background: #20b8be;
    border-radius: 4px;
}

.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}
